<nav class="flex justify-between p-[1em] border-b-[1px] border-solid border-[#777] dark:border-[#dec129]">
    <a href="/" class="flex justify-center items-center no-underline">
        <img src="/assets/logo.svg" alt="Logo" class="w-10 mr-[0.6em]">
        <h2 class="transition-[0.4s] hover:text-[#dec129] text-lg dark:text-white dark:hover:text-[#dec129]">Moments</h2>
    </a>
    <ul class="flex justify-center items-center no-underline">
        <li class="mr-[1em] list-none"><a [routerLink]="['/']" class="py-[0.1em] px-[0.3em] no-underline dark:text-white">Home</a></li>
        <li class="mr-[1em] list-none hover:bg-[#efefef] rounded-sm dark:hover:bg-gray-500"><a [routerLink]="['/moments/new']" class="py-[0.1em] px-[0.3em] no-underline text-[#dec129]">Compartilhar</a></li>
        <li class="mr-[1em] list-none"><a [routerLink]="['/about']" class="py-[0.1em] px-[0.3em] no-underline dark:text-white">About</a></li>
        <li class="mr-[1em] list-none">
            <div (click)="toggleTheme()" class="bg-white dark:bg-gray-500 shadow-[inset_0_2px_4px_rgba(0,0,0,0.1)] w-14 h-7 flex items-center px-1 rounded-2xl transition-all duration-300 cursor-pointer" [ngClass]="isDark ? 'justify-start' : 'justify-end'">
                <div class="bg-[#dec129] dark:bg-black h-5 w-5 rounded-xl flex justify-center items-center cursor-pointer">
                    <i class="pi pi-sun flex dark:hidden" style="color: white"></i>
                    <i class="pi pi-moon hidden dark:flex" style="color: white"></i>
                </div>
            </div>
        </li>
    </ul>
</nav>